<div class="container-nav">
<img class="logo" src="/logo.png" alt="logo">
<nav class="navbar bg-white">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="cade o nome do dev ?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit"> search </button>
      </form>
    </div>
  </nav>
<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">  
      <!-- Botão hamburguer -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navPills"
        aria-controls="navPills" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Área que colapsa -->
      <div class="collapse navbar-collapse" id="navPills">
        <!-- MANTENDO O SEU UL -->
        <ul class="nav nav-pills ms-auto">
          <li class="nav-item">
            <a class="nav-link " 
            [class.active]="activeTab === 'Home'"
            (click)="setActive('Home')"
            aria-current="page" 
            [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [class.active]="activeTab === 'Repositories'"
            (click)="setActive('Repositories')"
            [routerLink]="['/repo']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">REPOSITORIES</a>
          </li>
          <li class="nav-item">
            <a 
            class="nav-link" 
            [routerLink]="['/stars']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [class.active]="activeTab === 'Stars'"
            (click)="setActive('Stars')"
            >STARS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>