
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;

}

.nav {
    justify-content: right;
    gap: 10px;
    color: black;
    font-style: none;
}

.logo {
    width: 220px;
    height: 180px;
}


a {
    color: black;
}